/* Styling Forms */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  color: #faf8f8;
  box-sizing: border-box;
}

label,.list{
  color: #faf8f8;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


/* Container styling */
.w3-cont {
  background: rgb(4, 4, 200);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center; /* Centering horizontally */
  align-items: center; /* Centering vertically */
  max-width: 850; /* Adjust as needed */
}

.form-container,
.list-container {
  width: 45%; /* Adjust as needed */
  padding: 20px;
}

.list-container {
  margin-left: 20px; /* Adding space between form and list */
  border-left: 1px solid #ccc; /* Adding a border between form and list */
}

.list-container h2,
.list-container p {
  text-align: center; /* Centering text within the list container */
}

.title{
  text-align: center;
}